.font0 {
	color: rgb(153, 153, 204);
	font-family: "ו";
	font-size: 9pt;
	text-decoration: none;
}

.tittle0 {
	border: 1pt solid rgb(187, 185, 185);
	border-image: none;
}

.tittle1 {
	border-style: none solid solid;
	border-right-color: rgb(187, 185, 185);
	border-bottom-color: rgb(187, 185, 185);
	border-left-color: rgb(187, 185, 185);
	border-right-width: 1pt;
	border-bottom-width: 1pt;
	border-left-width: 1pt;
}

.tittle2 {
	border-style: none solid;
	border-right-color: rgb(187, 185, 185);
	border-left-color: rgb(187, 185, 185);
	border-right-width: 1pt;
	border-left-width: 1pt;
}

.tittle3 {
	border-style: none none solid;
	border-bottom-color: rgb(187, 185, 185);
	border-bottom-width: 1pt;
}

.tittle4 {
	border: 1pt solid rgb(91, 117, 154);
}

.tittle5 {
	border-style: none solid solid;
	border-right-color: rgb(187, 185, 185);
	border-bottom-color: rgb(187, 185, 185);
	border-left-color: rgb(187, 185, 185);
	border-right-width: 1pt;
	border-bottom-width: 1pt;
	border-left-width: 1pt;
}